@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

:root{
    --bg-color:#202123;
    --footer-font-color:#919599;
    --icon-color:#919599;
    --btn-color:#303135;
    --footer-bg-color:#181818;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
    background-color: #202123;
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
    position: relative;
    min-height: 1800px;
}

img{
    width: 100%;
}

li{
    list-style: none;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    gap:1rem;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 7rem;
    margin: 1rem 2rem 1rem 2rem;
}

header section{
    position:relative;
}

.fa-x{
    font-size: 1rem;
    position: absolute;
    top:13px;
    left:30rem;
    color:var(--icon-color);
}

.fa-x::after{
    content: '';
    width:1px;
    height: 30px;
    position:absolute;
    left:1.5rem;
    top: -5px;
    background-color: #555;
}

.fa-microphone{
    font-size: 1.3rem;
    position: absolute;
    top:13px;
    left:32.5rem;
    color:var(--icon-color);
}

.fa-camera{
    font-size: 1.3rem;
    position: absolute;
    top:13px;
    left:35rem;
    color:var(--icon-color);
}

.search-magnifying-glass{
    font-size: 1.2rem;
    position: absolute;
    top:13px;
    left:37.5rem;
    color:#8ab4f7;
}

.profile-img{
    width: 1.7rem;
    height: 1.7rem;
    background-color: white;
    color: #222;
    border-radius: 50%;
}


.search-bar{
    min-width:40rem;
    height: 2.7rem;
    background-color: var(--btn-color);
    border: 0.5px solid #555;
    border-radius: 2rem;
    color:#fff;
    padding-left: 2rem;
}

header div ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

header div ul li{
   font-size: 1.3rem;
}


/* options section */

.options{
    margin-top: -1rem;
    border-bottom: 2px solid var(--btn-color);
    padding-bottom: 0.8rem;
}

.options ul{
    width: 75vw;
    margin: 0 auto;
}

.options ul{
    display: grid;
    grid-template-columns: 4rem 6rem 6rem 6rem 6rem 8rem 2rem;
    color: var(--icon-color);
    position: relative;
}

.option-all{
    color: #8ab4f7;
}

.option-all::after{
    content: '';
    width:3px;
    height: 35px;
    position:absolute;
    left:1rem;
    top:1rem;
    background-color: #8ab4f7;
    transform: rotate(90deg);
}


/* main section */

main{
    width: 75vw;
    margin: 1rem auto;
}

main p{
    color: var(--icon-color);
    font-weight: 500;
}

/* Timer/Stop Watch section start */

.timer-section{
    width:60%;
    border: 2px solid var(--btn-color);
    border-radius: 0.5rem;
    margin: 1rem 0;
    position: relative;
}

.timer-section .header-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    border-bottom: 2px solid var(--btn-color);
}

.timer-section .header-btns div{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: -20px;
    padding-bottom: 30px;
    color: var(--icon-color);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.timer-section .header-btns div:hover{
    color: #eee;
}

.timer-section .header-btns div i{
    padding-right: 0.5rem;
}

.active{
    color: #8ab4f8 !important;
    border-bottom: 2px solid #8ab4f8;
}



/* counter */
.timer-section .counter{
    height: 6rem;
    font-weight: 400;
    margin: 1rem;
    letter-spacing: 3px;
    position: relative;
}

.timer-section .counter .timer-counter{
    width: 40%;
    font-size: 1.5rem;
    color: #e8eaed;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 2px solid var(--btn-color);
}

.timer-section .counter .stop-counter{
    width: 40%;
    font-size: 1.5rem;
    color: #e8eaed;
    padding: 1rem 0 1rem 1rem;
    display: none;
}



.timer-section .counter h2 span{
    font-size: 3rem;
}

.stop-mSeconds{
    font-size: 1.8rem !important;
}

.timeline{
    position:absolute;
    border-bottom: 3px solid #8ab4f8;
    left: -15px;
    bottom: -35px;
    width: 0;
    /* width: 610px; */
}

@media screen and (max-width:1200px) {
    .timer-section .counter h2{
        width: 50%;
    }
    .timer-section .counter h2 span{
        font-size: 2rem;
    }

}

/* timer footer */

.timer-section .timer-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-top: 2px solid var(--btn-color);
}

.timer-section .timer-footer .reset-btn{
    padding: 0.4rem 0.9rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 1px;
    color: var(--btn-color);
    background-color: #bdc1c6;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
}

.timer-section .timer-footer .reset-btn:hover{
    background-color: var(--footer-bg-color);
}

.timer-section .timer-footer .start-btn{
    padding: 0.4rem 0.9rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 1px;
    color: var(--btn-color);
    background-color: #8ab4f8;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
}
.timer-section .timer-footer .timer-stop-btn{
    padding: 0.4rem 0.9rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 1px;
    color: var(--btn-color);
    background-color: #2960b8;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
}

.timer-section .timer-footer .start-btn:hover{
    background-color: #2960b8;
    color: var(--footer-bg-color);
}

.timer-section .timer-footer .footer-icons i{
    color: var(--icon-color);
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
}


/* timer feedback */

.timer-section .timer-feedback{
    
    position:absolute;
    right: 10px;
    bottom: -25px;
}

.timer-section .timer-feedback a{
    color: var(--icon-color);
    text-transform: capitalize;
}

/* Timer/Stop Watch section end */

main section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1.5rem 0;
}


.single-result{
    margin: 2rem 0;
}


.single-result a{
    color: #bdc1c5;
    font-weight: 700;
}

.single-result a i{
    margin-left: 1rem;
}

.single-result h2{
    margin: 0.4rem 0;
}
.single-result h2 a{
    color: #8ab4f7;
}

.single-result h4{
    color: #bdc1c5;
}

.single-result p{
    margin: 0.4rem 0;
}


.related-sreaches h2{
    font-weight: 500;
    color: #e8e9e6;
}

.related-sreaches h2 i{
    font-size: 0.8rem;
    color: var(--icon-color);
    margin-left: 1rem;
}

.related-sreaches-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
}

.btn{
    width: 20rem;
    height: 3rem;
    background-color: #303134;
    border: none;
    border-radius: 2rem;
    color: #bdc1c6;
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
    margin: .5rem 1rem 0 0;
}

.btn i{
    padding-right: 1.2rem;
    color: var(--icon-color);
    font-size: 0.9rem;
}


/* google search pages */

.search-pages-container{
    width: 30vw;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    align-items: center;
}

.search-pages{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.search-pages p{
    font-size: 0.9rem;
    letter-spacing: 4px;
    margin-top: 0.3rem;
    color: #8ab4f7;
}

.search-pages-icons{
    margin: 1rem 0 0 0.8rem;
    color: #8ab4f7;
}

.search-pages-icons p{
    color: #8ab4f7;
    margin-top: 0.8rem;
}


/* footer section */

footer{
    background-color: #555;
    color: #919599;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.regin{
    display: grid;
    grid-template-columns: 5rem 1fr;
    text-transform: capitalize;
    background-color: #181818;
    padding: 0.7rem 1.5rem;
    padding-left: 15vw;
}

.regin p {
    position: relative;
}

.regin p span::after{
    content: '';
    width:1px;
    height: 32px;
    position:absolute;
    left:4.3rem;
    background-color: #555;
}

.regin h4 a{
    color: #bdc1c4;
}

.regin h4{
    position: relative;
    padding-left: 0.8rem;
}

.regin h4 a::before{
    content: '';
    height: 8px;
    width: 8px;
    background-color: #bdc1c4;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top:6px
}

.regin h4 a span{
    color: #8399d6;
}

.footer-info{
    margin-top: 1px;
    background-color: #181818;
    padding: 0.7rem 1.5rem;
    padding-left: 15vw;
}

.flex-container{
    display: flex;
    gap:1.5rem;
}